* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_color: #3ea748;
}

body {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 6px;
  height: auto;
}
::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 5px;
}

button,
input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
